@font-face {
  font-family: BebasBold;
  src: url(../resources/fonts/BebasNeue%20Bold.ttf);
}
body {
  margin: 0;
}

body .menu-items li {
  display: inline-block;
}

body .menu-items li a {
  text-decoration: none;
}
body header span,
body .menu span,
body .portfolio span,
body header a,
body .menu a,
body .portfolio a,
body header h2,
body .menu h2,
body .portfolio h2 {
  font-family: BebasBold, serif;
  color: white;
}
body header {
  width: 100%;
  padding: 0;
}
body header .image {
  background: url("../img/himg.png") no-repeat;
  background-size: cover;
  height: 408px;
}
body header .image div {
  position: absolute;
  margin: 8.5% 0 0 24%;
}
body header .image div span {
  display: block;
  text-transform: uppercase;
}
body header .image div span:first-child {
  font-size: 75px;
  width: 249px;
  letter-spacing: -0.0073em;
  line-height: 0.73;
}
@media (max-width: 768px) {
  body header .image div span:first-child {
    font-size: 55px;
    line-height: 0.77;
  }
}
@media (max-width: 540px) {
  body header .image div span:first-child {
    font-size: 30px;
    line-height: 0.77;
  }
}
body header .image div span:last-child {
  width: auto;
  font-size: 29px;
  margin-top: -7px;
  margin-left: 1px;
  letter-spacing: 0.004em;
}
@media (max-width: 768px) {
  body header .image div span:last-child {
    font-size: 20px;
    margin-top: 0;
  }
}
@media (max-width: 540px) {
  body header .image div span:last-child {
    font-size: 12px;
    margin-top: 0;
  }
}
body .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #262223;
}
body .menu span {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 16px;
}
body .menu .menu-items {
  margin-left: 18.7%;
  padding-top: 19px;
}

body .menu .menu-items a {
  padding: 0 4px 8px 4px;
}
body .menu .menu-items a:hover {
  padding-bottom: 8px;
  color: #62bc98;
  border-bottom: 1px solid #62bc98;
}

@media (max-width: 540px) {
  body .menu .menu-items {
    margin-left: 45px;
  }
}
body .menu .menu-items li,
body .menu .social li {
  margin-right: 10.5px;
  letter-spacing: -0.02em;
}
body .menu .menu-items li:last-child,
body .menu .social li:last-child {
  margin-left: 2px;
}
body .menu .social {
  margin-left: 8px;
  padding-top: 15px;
}

@media (max-width: 540px) {
  body .menu .social {
    margin-left: -25px;
  }
}
body .menu .social li {
  background-color: white;
  border-radius: 23px;
  width: 26px;
  height: 26px;
  margin-right: 9px;
}
body .menu .social li:hover {
  background-color: #62bc98;
}
body .menu .social li a {
  position: relative;
  top: 3px;
  left: 1px;
}
body .menu .social li a i {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  font-size: 1.2em;
}
body .menu .social li.facebook a {
  left: 3px;
}
body .menu .social li.google-plus a {
  left: -2px;
}

body .portfolio {
  background-color: #62bc98;
}

body .portfolio .title {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body .portfolio .title h2 {
  margin: 47px 0 0 0;
  font-size: 39px;
}

body .portfolio .menu-items {
  margin-top: -2px;
  padding-left: 0;
}

body .portfolio .menu-items li {
  font-size: 20px;
}

body .portfolio .menu-items li a {
  letter-spacing: 0.0005em;
}
