body {
  margin: 0;

  header {
    width: 100%;
    padding: 0;

    .image {
      background: url("../img/himg.png") no-repeat;
      background-size: 101%;
      background-position: -8px -190px;
      height: 408px;
    }
  }
}